table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid dimgray;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th, td {
    padding: 20px;
}

input[type=text] {
    margin: 25px 10px;
    height: 20px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}
